<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cesarandres.ps2link"
    android:versionCode="39"
    android:versionName="2.6.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.cesarandres.ps2link.ApplicationPS2Link"
        android:allowBackup="true"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:theme="@style/PS2Theme" >
        <activity
            android:name="com.cesarandres.ps2link.ActivityContainerSingle"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.cesarandres.ps2link.ActivityProfile" >
        </activity>
        <activity android:name="com.cesarandres.ps2link.ActivityOutfit" >
        </activity>
        <activity
            android:name="com.cesarandres.ps2link.ActivityAbout"
            android:theme="@style/PS2ThemeDialog" >
        </activity>
    </application>

</manifest>